body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #fce4ec; /* Cor de fundo rosa claro */
}

header {
    text-align: center;
    padding: 20px;
    background-color: #ff4081; /* Cor de destaque rosa */
    color: #fff;
}

section {
    margin: 20px 0;
}

.studio-info {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #fff; /* Fundo branco para melhor legibilidade */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ff4081; /* Cor de destaque rosa */
    color: #fff;
    position: fixed;
    bottom: 5;
    width: 50%;
}

img {
    width: 15%;
    height: 15%;

}
